img {
  float:  left;
  width: 150px;
  height: 200px
}
.body {
  background-color: yellowgreen;

}
.background{
  text-align: center;
  font-family: monospace;
  color: orangered;
}
.academic{
  text-align: center;
  color: skyblue;
  font-family: monospace;
}
